body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 28px;
  color: #333;
  margin: 10px 0;
  text-align: center;
}
