.cont{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: #91D8E4;
    box-shadow: 5px 5px 10px 10px #BFEAF5;
    padding :2rem 1rem;
    margin-top: 3%;
    width: 30%;
    height: 60%;
}
input{
    opacity: .6;
}
.mybtn{
    margin-left: 38%;
    background-color: #205295;
}
.mybtn:hover{
    background-color:  #2C74B3;
}
h2{
    text-align: center;
    margin-top: 8%;
    font-size: 290%;
    font-weight: 600;
    color: #205295;
}
body{
    background-color:#EAFDFC;
}
